table.t1{
  width: 65%;
  border: 1px solid green;
  padding: 15px;
}
th.t1{
  height: 60px;
  vertical-align: top;
  border: 1px solid blue;
}
td.t1{
  text-align: center;
  border: 1px solid red;
}
td.t1:hover{
	background-color: #f1a1f1;
}
th.t1,td.t1 {
  padding: 20px;
}
th.t2,td.t2{
	border-bottom: 1px solid #ddd;
}
table.t2{
	width: 50%;
}
tr.t2:nth-child(even){
  background-color: #f2f2f2;
}
th.t1{
  background-color: #04aa6d;
  color: white;
}



tr.t2:hover {
  background-color: #f1e111;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
table.ex1{
  empty-cells: hide;
}
#a1,#a2,#a3,#a4 {
  border-collapse: collapse;
  border: 1px solid black;
} 

#a1 th,#a2 th,#a3 th,#a4 th,#a1 td,#a2 td,#a3 td,#a4 td {
  border: 1px solid black;
}

table.a {
  table-layout: auto;
  width: 180px;  
}

table.b {
  table-layout: fixed;
  width: 180px;  
}

table.c {
  table-layout: auto;
  width: 100%;  
}

table.d {
  table-layout: fixed;
  width: 100%;  
}